.section-clients
  position: relative

.clients-control
  > div
    +size(40px)
    +position(absolute)

  .client-control-next
    z-index: 2
    cursor: pointer
    margin: -20px
    +position(realtive, 50% 40px null null)

  .client-control-prev
    z-index: 2
    cursor: pointer
    margin: -20px
    +position(realtive, 50% null null 40px)

.clients-control-mob
  display: none


.clients-belt
  width: 100%
  position: relative
  +perspective(500px)

  .client-unit
    +position(relative)
    +transition(all .8s)
    display: none
    max-width: 750px
    margin: 0 auto

    &.active-client
      +display(flex)
      @extend %bounceOut

    .client-img
      min-width: 300px
      text-align: center

      img
        max-width: 100px
        border-radius: 50%

      strong
        display: block
        text-transform: uppercase
        font-size: 18px
        font-weight: 300
        letter-spacing: 1px
      em
        color: #999
        font-size: 12px
        font-style: normal

    .client-content
      padding: 10px
      margin: 0
      font-size: 18px
      font-weight: 300
      line-height: 36px
      position: relative


      .client-quote-mark
        z-index: -1
        +position(absolute, -5px null null -15px)

        svg
          +size(60px)
          path
            fill: rgba($accent, 0.3)

.clients-logos
  position: relative
  max-width: 750px
  margin: 50px auto 100px
  +display(flex)
  +align-items(flex-end)
  +flex-wrap(wrap)
  +justify-content(space-around)

  .client-logo
    margin: 0 0 10px 20px
    padding-bottom: 8px
    cursor: pointer
    opacity: 0.5
    border-bottom: 4px solid transparent

    &.active-client
      border-bottom: 4px solid $accent
      opacity: 1


@media (max-width: 750px)
  .clients-control
    display: none

  .clients-control-mob
    display: block
    text-align: center
    margin-bottom: 30px

    span
      display: inline-block
      +size(18px)
      background: $bgcolor
      border-radius: 50%
      margin: 0px 5px 0px
      cursor: pointer

      &.active-client
        box-shadow: 0px 0px 0px 3px $accent
        +size(18px)

  .clients-belt
    perspective: none

    .client-unit
      transform-origin: center
      transform: scale(0)

    .client-unit.active-client
      display: block
      position: relative
      margin-left: 0px
      left: auto
      transform: scale(1)

      .client-img
        margin-bottom: 20px

      .client-content
        padding: 0px 30px
        max-width: 400px
        margin: 0 auto 50px auto

        .client-quote-mark
          z-index: -1
          left: 15px
          top: -15px

  .clients-logos
    display: none
