.alt-section
  background: $bgcolor

  .thumb-container
    max-width: 960px
    margin: 0 auto
    padding-bottom: 100px
    +clearfix

    .thumb-unit
      width: 25%
      padding-top: 16%
      display: block
      float: left
      position: relative
      overflow: hidden
      background:
        position: center
        repeat: no-repeat
        size: cover

      @media screen and (max-width: 760px)
        width: 50%
        padding-top: 26%

      .thumb-mask
        +position(absolute, 100% 0px null 0px)
        +transition
        +display(flex)
        +align-items(center)
        +justify-content(center)
        background: fade-out($accent, 0.5)
        text-align: center

        strong
          display: block
          padding: 20px
          font-size: 24px
          font-weight: 300
          line-height: 1.2
          color: #fff
          text-transform: uppercase


      &:hover .thumb-mask
        +position(absolute, 0% 0px 0px 0px)
