<section class="section-clients">

  <h3 id="clients">Clients</h3>
  <div class="clients-control">
    <div class="client-control-next">{% include /icons/icon-next.html %}</div>
    <div class="client-control-prev">{% include /icons/icon-prev.html %}</div>
  </div>
  <div class="clients-control-mob">
    {% for client in site.data.portfolio.clients %}
    <span></span>
    {% endfor %}
  </div>
  <div class="clients-belt">
    {% for client in site.data.portfolio.clients %}
    <div class="client-unit">
      <div class="client-img">
        <img src="../img/clients/{{ client.avatar }}" alt="client-img"></img>
        <strong class="client-name">{{ client.name }}</strong>
        <em class="client-title">{{ client.title }}</em>
      </div>
      <div class="client-content">{{ client.content }}
        <div class="client-quote-mark">{% include /icons/icon-quote-mark.html %}</div>
        <div class="client-quote-mark alt">{% include /icons/icon-quote-mark.html %}</div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="clients-logos">
    {% for client in site.data.portfolio.clients %}
    <img class="client-logo" src="../img/clients/{{ client.logo }}" />
    {% endfor %}
  </div>

</section>
